<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miseri Service - Not Found :(</title>
    <link rel="stylesheet" href="/static/404.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
        <h1>404</h1>
        <h1>Oops! We are just as lost...</h1>
        <p>Oops! It seems that we have not been able to find the requested route</p>
        <p>Do you want to go <a href="/">home</a>?</p>
    </main>
</body>
</html>